/* ------ Global */
:root{
    --dark-green: rgba(34,87,85,255);
}
/* ------ Global */


/* BASE.HTML ------------- */


body{
   margin-left:1.25rem;
   margin-right:1.25rem; 
}

#nav {
    border-bottom-style: solid;
    border-bottom-width:4px;
    border-color: #8a8888;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    align-content: center;
    padding:1.25rem;
    overflow-y: hidden;
}

#nav img{
    width: 8rem;
    height:6rem;
    flex-shrink: 0;
}

#nav-right{
    display:flex;
    flex-direction: column;
}

#nav-right #navOpen{
    display:none;
    padding:0.5rem;
    background: none;
    border: none;
}

#nav-links{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    position: static;
    top:0px;
    row-gap:0px;
    column-gap:8rem;
    padding-left:0;
    transition: all 0.5s;
}
#nav-lins li{
    list-style-type: none;
}



/* Todas as a tags são para ser assim */
a {
    text-decoration: none;
    color:black;
    font-size :1.25rem;
    line-height:1.75rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    text-decoration: none;
    color:black;
    font-size : 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin:1rem 1rem;
}

@media screen and (max-width:1024px) {
    #nav-links{
        column-gap:4rem;
    }
}

@media screen and (max-width:900px){
    #nav-links{
        column-gap:2rem;
    }
}

@media screen and (max-width:750px){
    
    #nav-right #navOpen{
        display:block; 
    }

    #nav-links{
        display:flex;
        flex-direction: column;
        
        background-color:var(--dark-green);
        position:absolute;
        left:0;
        right:0;
        top: 130px;
        margin-left:1.25rem;
        margin-right:1.25rem;
        transition: all 0.5s;
        column-gap: 0;
        row-gap:1rem;
        max-height: 0px;
        min-height: 0px;
        overflow-y: hidden;
    }

    #nav-links a {
        color:white;
    }
}

#rights{
    height:300px;
}

/* -------- BASE.HTML */

/* PRODUTOS.HTML ------------ */

#content{
    display:flex;
    flex-direction: column;
    margin-left:5rem;
    margin-right:5rem;
}

#filtros-produtos{
    display:flex;
    min-height: 1200px;
    margin:0rem 1.25rem 1.25rem 1.25rem;
}

#filter-button{
    border:none;
    background-color: transparent;  
    width: 100%; 
    display: flex;
    justify-content: flex-start;
}
#filter-button:hover{
    cursor: pointer;
}
#icon{
    transition: all 0.5s;
}

#filtros{
    display:flex;
    flex-direction:column;
    vertical-align:top;
    align-items: center;
    flex-shrink: 1;
    max-width:300px;
    width: 100%;
    background-color: rgb(161 161 170);
    row-gap:2rem;
    padding-top:1rem;
    margin-right:1.25rem;
    height: inherit;
    transition: all 0.5s;
    overflow: hidden;
}

#normal {
    font-size:1.25rem;
    font-weight:300;  
}

#selected{
    font-size:1.25rem;
    font-weight: 700;
}

#produtos-list {
    margin:0 1rem 1rem 0rem;
    display:grid;
    column-gap:0.75rem;
    row-gap: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
}

#produtos-list a {
    display:block;
    width:fit-content;
}

#produto{
    display:flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    max-width: 300px;
    flex-shrink: 1;
}

#produto:hover{
    border-color:var(--dark-green);
}

#produto img{
    max-width: 300px;
    max-height: 250px;
    flex-shrink: 1;
}

#produto p{
    text-overflow: ellipsis;
}




@media screen and (max-width:1450px){
    #produtos-list{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width:750px){
    #produto{
        height: 204px;
    }

}

/* ---------- PRODUTOS.HTML */