/* ------ Global */
:root{
    --dark-green: rgba(34,87,85,255);
}
/* ------ Global */


/* BASE.HTML ------------- */

*{
    font-family: "Montserrat", sans-serif;
}

body{
   margin-left:1.25rem;
   margin-right:1.25rem;
   background: linear-gradient(to bottom, white 30%, rgb(197, 197, 197));
   background-attachment: fixed;
}

footer{
    font-size:1.5rem;
}

#nav {
    border-bottom-style: solid;
    border-bottom-width:4px;
    border-color: #8a8888;
    display: flex;
    justify-content: space-between;
    align-items:center;
    align-content: center;
    padding:1.25rem;
    overflow-y: hidden;
}

#nav img{
    width: 8rem;
    height:6rem;
    flex-shrink: 0;
}

#nav-right{
    display:flex;
    flex-direction: column;
}

#nav-right #navOpen{
    display:none;
    padding:0.5rem;
    background: none;
    border: none;
}

#nav-links{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    position: static;
    top:0px;
    row-gap:0px;
    column-gap:8rem;
    padding-left:0;
    transition: all 0.5s;
}
#nav-lins li{
    list-style-type: none;
}



/* Todas as a tags são para ser assim */
a {
    text-decoration: none;
    color:black;
    font-size :1.25rem;
    line-height:1.75rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p{
    text-decoration: none;
    color:black;
    font-size : 1.25rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin:1rem 1rem;
}

@media screen and (max-width:1024px) {
    #nav-links{
        column-gap:4rem;
    }
}

@media screen and (max-width:900px){
    #nav-links{
        column-gap:2rem;
    }
}

@media screen and (max-width:750px){
    
    #nav-right #navOpen{
        display:block; 
    }

    #nav-links{
        display:flex;
        flex-direction: column;
        
        background-color:var(--dark-green);
        position:absolute;
        left:0;
        right:0;
        top: 130px;
        margin-left:1.25rem;
        margin-right:1.25rem;
        transition: all 0.5s;
        column-gap: 0;
        row-gap:1rem;
        max-height: 0px;
        min-height: 0px;
        overflow-y: hidden;
    }

    #nav-links a {
        color:white;
    }
}

#rights{
    height:300px;
}

/* -------- BASE.HTML */

