<!DOCTYPE html>
<html lang="en">
    {% load static tailwind_tags %}
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% tailwind_css %}
        <title>Home</title>
    </head> 
    {% load static %}
    <body class="bg-white">
        <div id="nav" class="bg-white flex justify-between items-center content-center py-2 px-6 pr-10"> 
            <img src="{% static 'img/logo.png' %}" alt="Not found" class="w-36 h-24 bg-red-600 ">
            <div class="flex justify-between space-x-20">
                <a class="text-xl" href="/">Home</a>
                <a class="text-xl" href="/historia">História</a>
                <a class="text-xl" href="/produtos">Produtos</a>
                <a class="text-xl" href="/contactos">Contactos</a>
            {% if user.is_authenticated %}
                <a class="text-xl" href="/logout">Logout</a>
            {% else %}
                <a class="text-xl" href="/login">Login</a>
            {% endif %}
            </div>
        </div>
            {% block content %}
            {% endblock content %}

    </body>
</html>