<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" defer src="{% static "tioze.js"%}"></script>
        <script src="https://kit.fontawesome.com/e14dbd292a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/base.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>Home</title>
        
    </head>

    <link rel="icon" type="image/png" href="{% static "/img/logo.png" %}">
    
    <body>
        <nav id="nav">
            <img src="{% static 'img/logo.png' %}" alt="Not found">
            
            <div id="nav-right">
                <button id="navOpen">
                    <i class="fa-solid fa-bars fa-2x"></i>
                </button>
                <ul id="nav-links">
                    <li><a class="text-xl" href="/">Home</a></li>
                    <li><a class="text-xl" href="/historia">História</a></li>
                    <li><a class="text-xl" href="/produtos/Presunto">Produtos</a></li>
                    <li><a class="text-xl" href="/contactos">Contactos</a></li>
                </ul>
                </div>
            </div>
        </nav>
        
            {% block content %}
            {% endblock content %}
    
    </body>
        <footer>
            <div class="h-[300px] ml-5">
            All Rights reserved
            </div>
        </footer>
       
        
    
    
</html>