{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/contactos.css" type="text/css">
{% endblock styles %}


{% block content %}

<div class="contacts-content">
    <h1>Contacte-nos em:</h1>
    <p>Telemóvel: +351 966047225</p>
    <p>Telefone: 274866111</p>
    <p>Email: <a href="mailto: tiozedabeira@sapo.pt">tiozedabeira@sapo.pt</a></p>
    <h2>Ou encontre-nos pessoalmente em:</h2>
    <p>Rua Vale do Milho Nº81, Cardigos, Mação, Santarém</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.073545485133!2d-8.024195798417844!3d39.69305032690687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1809db582a3f27%3A0x1511a62c45257bc!2sPresuntos%20Tioz%C3%A9%20da%20Beira%20-%20Ind%C3%BAstria%20de%20Carnes%2C%20Lda.!5e0!3m2!1sen!2spt!4v1710960153018!5m2!1sen!2spt" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>



{% endblock content %}





