{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/historia.css" type="text/css">
{% endblock styles %}

{% block content %}
    <div class="content">   
        <h1>Desde 1978 ao presente </h1>   
        <p>
            Presuntos TioZé da   Beira, Lda é uma empresa de salsicharia de fabrico tradicional encontrando-se já há quase 30 anos a laborar, contando assim com uma larga experiência neste ramo.
            Estamos situados em Cardigos, no concelho de Mação, na região da Beira Baixa e no centro de Portugal.
            Os nossos produtos, dos quais destacamos, os presuntos, enchidos e fumados, são elaborados a partir de matérias- primas e temperos devidamente seleccionados, conferindo-lhes assim, um excepcional sabor.
            Somos devidamente licenciados e todo o nosso processo de fabrico segue o rigor exigido no nosso plano de HACCP ( controlo da qualidade sanitária e analítica ) que garante toda a boa e excelente qualidade dos nossos produtos.
            Estamos certos que por estas razões, os nossos produtos marcam a diferença e agradam aos paladares mais exigentes.
        </p>





    </div>



{% endblock content %}