{% extends "base.html" %}
{% load tags %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="/static/produtos.css" type="text/css">
{% endblock styles %}

{% block content %}
    <div id="content">
        <button id="filter-button">
            <p><i class="fa-solid fa-filter"></i> Filtros <i id="icon" class="fa-solid fa-chevron-down  fa-xs"></i> </p>
        </button>

        <div id="filtros-produtos" >
                <div id="filtros">
                    {% for tipo in tipos %}
                        {% if escolhido == tipo.name %}
                            <a id="selected" href="/produtos/{{ tipo.name}}" >{{tipo.name}}</a>
                        {% else %}
                            <a id="normal" href="/produtos/{{ tipo.name}}" >{{tipo.name}}</a>
                        {% endif %}
                    {% endfor %}          
                </div>

            <div id="produtos-list">
                {% for product in lista %}
                    {% if product.inView == True %}
                    <a href="/produto/{{product.name|cleanURL}}" >
                        <div id="produto">
                            <img src="{% static "" %}{{product.imagePath}}.png" alt="{{product.imagePath.}}">
                            <p>{{product.name}}</p>
                        </div>
                    </a>
                    {% endif %}    
                {% endfor %}
            </div>
        </div>
    </div>
    


{% endblock content %}


