{% extends "base.html" %}
{% load tags %}



{% block content %}
{% load static %}
    
    <div id="content">
        <button id="filter-button">
            <p><i class="fa-solid fa-filter"></i> Filtros <i id="icon" class="fa-solid fa-chevron-down  fa-xs"></i> </p>
        </button>

        <div id="filtros-produtos" class="flex min-h-[1200px] mx-5">
                <div id="filtros">
                    {% for tipo in tipos %}
                        {% if escolhido == tipo.name %}
                            <a id="selected" href="/produtos/{{ tipo.name}}" class="text-2xl font-bold">{{tipo.name}}</a>
                        {% else %}
                            <a id="normal" href="/produtos/{{ tipo.name}}" class="text-2xl">{{tipo.name}}</a>
                        {% endif %}
                    {% endfor %}          
                </div>

            <div id="produtos-list" class="m-4 grid xl:grid-cols-2 2xl:grid-cols-3 gap-3 shrink-0">
                {% for product in lista %}
                    {% if product.inView == True %}
                    <a href="/produto/{{product.name|cleanURL}}" >
                        <div id="produto">
                            <img class="w-[250px] h-[200px]" src="{% static "" %}{{product.imagePath}}.png" alt="{{product.imagePath.}}">
                            <p>{{product.name}}</p>
                        </div>
                    </a>
                    {% endif %}    
                {% endfor %}
            </div>
        </div>
    </div>
    


{% endblock content %}


