{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="/static/produto.css" type="text/css">
{% endblock styles %}




{% block content %}
    {% load static %}
    <div class="container flex flex-col md:flex-row xl:mx-24 mx-12 my-5 ">
        <div class="img">
            <img src="{% static "" %}{{product.imagePath}}.png" alt="{{product.name}}">
        </div>
        <div class="contents">
            <h1>{{product.name}}</h1>
            <h2 >Descrição: {{product.description}}</h2>
            <div class="button-content flex">
                <button id="openNutri" >Informação Nutricional</button>
                <dialog id="modal">
                    <div id="modal-content">
                        <h1 class="text-2xl font-bold">Informações nutricionais:
                        </h1>
                        <h2>{{product.nutInfo}} Lorem ipsum dolor sit amet consectetur adipisicing elit. In nihil, aspernatur laboriosam ullam ab eius maxime repellendus! Iure facere obcaecati laboriosam dolore mollitia quia harum, eveniet quam maxime ullam fugit, eligendi ipsa tempora incidunt error. Sequi non voluptas molestiae reprehenderit fugiat veniam voluptatum, consectetur consequuntur accusantium soluta explicabo consequatur repellendus.
                        </h2>
                        <div id="button-container"> 
                            <button id="closeNutri">
                                Close
                            </button>
                        </div>
                    </div>
                </dialog>
            </div>
        </div>
    </div>
{% endblock content %}